[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graph-data-generator = ">=0.3"
neo4j-uploader = ">=0.4"
streamlit = ">=1.28"
pyarrow = ">=14.0.1"

[dev-packages]

[requires]
python_version = "3.11"
