[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
streamlit = "*"
streamlit-extras = "*"
pyperclip = "*"
streamlit-agraph = "*"
lorem-text = "*"
faker = "*"
streamlit-player = "*"
requests = "*"
pandas = "*"
random-address = "*"

[dev-packages]
mock-generators = {editable = true, path = "."}

[requires]
python_version = "3.11"
