[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graph-data-generator = "*"
neo4j-uploader = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
